<!DOCTYPE html>
<html lang="en">
<head>
  <style>
div.a {
    font-size: 25px;
    font-style: italic
}
    </style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body><nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
       <div><img src="static/PZ.png" alt="Smiley face" width="50" height="50"></div> 
   </div>
       <a class="navbar-brand" href="#">Pigiminator</a>
    <ul class="nav navbar-nav">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-fire"></span> Pigiminator</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>  
<nav>
    <ul>
        <p><font size="20">Contact with Prøgramming Zygøtěs</font></p>
        <div class="a">Antonio Takev - tonitakev@gmail.com</div>
        <div class="a">Valeri Dobrev - valeri.dobrev10@gmail.com</div>
        <div class="a">Nikolay Yonchev - n.ionchev@gmail.com</div>
        <div class="a">Milen Iliev - miliev8b@gmail.com</div>
        <div class="a">Mihail Kolev - misho.vk@gmail.com</div>
    </ul>
</nav>   
</body>
</html> 