<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #canvas{
      width: 100%;
      height: 265px;
      border: solid;
    }
    #textarea{
      width: 100%;
      height: 265px;
      resize: none;
      border: solid;
    }
    .firstlane{
      display: inline-block;
      margin: 3%;
      width: 43%;
      height: 300px;
    }
    .btn{
      height: 35px;
    }
  </style>
  <script>
</script>
</head>
<body background="static/index2.jpeg">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
       <div><img src="static/PZ.png" alt="Smiley face" width="50" height="50"></div> 
   </div>
       <a class="navbar-brand" href="#">Pigiminator</a>
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/piginator"><span class="glyphicon glyphicon-fire"></span> Pigiminator</a></li>
      <li><a href="/contacts"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>  
  <div class="firstlane">
    <canvas id="canvas"></canvas>
    <button type="submit" class="btn btn-default">Upload</button>
  </div>
  <div id="txt" class="firstlane">
    <textarea id="textarea">The text will display here.</textarea>
    <button type="submit" class="btn btn-default">Convert</button>
  </div>
</body>
</html>
